:root {
  --darkBlue: #25274d;
  --middleBlue: #29648a;
  --lightBlue: #2e9cca;
  --darkGray: #464866;
  --lightGray: #aaabb8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

canvas {
  background: var(--lightGray);
  position: absolute;
}

.btn-group button {
  text-align: center;
  background-color: var(--darkGray);
  color: var(--lightGray);

  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: block;
  position: relative;
  z-index: 10; /* Make the buttons appear below each other */
}
.selected {
  background-color: var(--lightBlue) !important;
  color: var(--darkGray) !important;
}

.btn-group:first-child {
  text-align: center;
  width: 100%;
  border-radius: 10px 10px 0 0;

  cursor: move;
  z-index: 10;
  background-color: var(--darkGray);
  color: var(--lightGray);
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group button:last-child {
  border-radius: 0 0 10px 10px;
}

.btn-group button:hover {
  background-color: var(--middleBlue);
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3%;
  left: 2%;
}

#selectors {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 30%;
  left: 2%;
}
